<h2>Liste des tâches</h2>

@if (tasks$ | async; as tasks) {
  <ul>
    @for (t of tasks; track t.id) {
      <li [class.completed]="t.completed" >
        <span [style.text-decoration]="t.completed ? 'line-through' : 'none'"
          [style.color]="t.completed ? '#999' : '#000'">
      {{ t.title }}
    </span>
    
    <!-- Bouton pour terminer/réactiver -->
        <button (click)="toggleTask(t.id)">
          {{ t.completed ? '↩️ Réactiver' : '✅ Terminer' }}
        </button>
        
        <button type="button" (click)="highlight(t)">
          Mettre en avant
        </button>
       
        <!-- 🆕 Bouton Supprimer -->
        <button type="button" (click)="deleteTask(t.id)" class="btn-delete">
          Supprimer
        </button>

        <button (click)="editTask(t)">Éditer</button>
      </li>
    }
  </ul>
} @else {
  <p>Chargement des tâches...</p>
}

<hr />

<h3>Ajouter une tâche</h3>
<div class="add-task-form">
  <input 
    type="text" 
    #taskInput
    placeholder="Entrez le titre de la tâche"
    (keyup.enter)="addTask(taskInput.value); taskInput.value = ''"
  />
  <button (click)="addTask(taskInput.value); taskInput.value = ''">
    Ajouter
  </button>

  

</div>

<h3>Tâches en cours</h3>
@for (t of activeTasks$ | async; track t.id) {
  <li>{{ t.title }}</li>
}

<h3>Tâches terminées</h3>
@for (t of completedTasks$ | async; track t.id) {
  <li>{{ t.title }}</li>
}

<app-task-stats></app-task-stats>

<div #editContainer></div>
<div #highlightContainer></div>